:root{
  box-sizing: border-box;
}

body
{
  background-image: url(./images/background_1.jpg);
  color: #4FE3E8;
  font-family: 'Advent Pro';
  font-size: 24px;
}

button {

  --btnColor: #E8AE43;
  --lightness: #E8AA38;

  border: none;
  background-color: #E87366;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em , 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms;
}

button:hover{
  background-color: #BF5F54;
}
