:root{
  box-sizing: border-box;
}

body
{
  background-image: url(./images/background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:#E8D91A;
  font-family: 'Advent Pro';
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > :first-child{
  margin-top: 330px; 
}

button {
  align-items: center;
  background-color: #E81A55;
  border: 10px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  color:#fff;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 30px;
  font-weight: bolder;
  justify-content: center;
  line-height: 1.1;
  min-height: 54px;
  min-width: 12ch;
  padding: 0.25em , 0.75em;
  text-align: center;
  transition: 220ms;
}

button:hover{
  background-color: #B81442;
}

button:focus{
  box-shadow: 0 0 0 2px;
  outline-style: solid;
  outline-color: transparent;
}

button:active{
  background-color:#9C022D;
}

.welcomePanel{
 display:flex;
 align-items:center;
 flex-direction:column;
}



.welcomePanel>button
{
  margin-top: 150px;
}




/*026d8d*/
